/* ------------------------------------------------ */
/*---------------Reset */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/*---------------Global CSS  */
/* ------------------------------------------------ */
p { 
	font-family: 'Open Sans', sans-serif;}

h4 {
	}
	
.row  {
}

/* ------------------------------------------------ */
/*---------------Section Content */
/* ------------------------------------------------ */
#content { 
}

.container text-center {
}

.text-center {
}

/*----services----*/

.services { 
color: blue;
padding: 0px 143px 0px 143px;
}

.col-md-4 {
}

.services .btn { 
	color:#9D5253;}

/*----support----*/

.support {
}

.col-md-11{
	}
	
.col-md-1 { 
}

/*----performance----*/

.col-md-6 {
}

.list-unstyled {
}

.fa {
}

.fa- {
	}

.progress {
	}
	
.progress-bar {
}

.sr-only {
}

/*----testimonial----*/

.testimonial {
	}
	
.col-md-3 {
}
