//@import "_variables.scss"
//color
$graygreen: #576f6f;
$lightgraygreen: #c8d8d7;
$orange: #f28858;
$darkorange: #b56642;
$lightgray: #77a1a0;

#nav-second {
  background-color: $graygreen;
  height: 40px;
  li {
    a {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 7px;
      font-family: "Open sans";
      font-weight: 400;
      color: $lightgraygreen;
      &:hover {
        background-color: $graygreen;
      }
      &:focus {
        background-color: $graygreen;
      }
      &:active {
        background-color: $graygreen;
      }
      &:visited {
        background-color: $graygreen;
      }
    }
  }
  .login {
    margin-top: 75px;
    border: 0px;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 2px;
    -moz-box-shadow: 0 3px 0 0 #e0e0e0;
    -webkit-box-shadow: 0 3px 0 0 #e0e0e0;
    -o-box-shadow: 0 3px 0 0 #e0e0e0;
    box-shadow: 0 3px 0 0 #e0e0e0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#e0e0e0, Direction=180, Strength=0);
    h4 {
      margin: 0;
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: $graygreen;
      font-family: "Open sans";
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 20px;
    }
    .btn{
      border: 0px;
      width: 250px;
      font-family: "Open sans";
      font-weight: 700;
      color: #ffffff;
      background: $orange;
      text-align: center;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
      -webkit-box-shadow: 0 9px 0 #b56642;
      -moz-box-shadow: 0 9px 0 #b56642;
      box-shadow: 0 3px 0 #b56642;
    }
    input{
      font-family: "Open sans";
      font-weight: 700;
      font-size: 1em;
    }
    span{
      background-color: $graygreen;
      color: #ffffff;
    }
  }
}
#nav-princ {
  background-color: $orange;
  height: 60px;
  -moz-box-shadow: 0 3px 0 0 #b56642;
  -webkit-box-shadow: 0 3px 0 0 #b56642;
  -o-box-shadow: 0 3px 0 0 #b56642;
  box-shadow: 0 3px 0 0 #b56642;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#b56642, Direction=180, Strength=0);
  margin-bottom: 3px;
  .container-fluid {
    margin-top: 4px;
  }
  .navbar-brand {
    img {
      display: inline-block;
      &:nth-child(1) {
        vertical-align: top;
      }
    }
  }
  .navbar-right {
    li {
      margin-right: 20px;
      a {
        padding-top: 5px;
        margin-top: 10px;
        padding-bottom: 5px;
        font-family: "Open sans";
        font-weight: 700;
        color: #ffffff;
        background: $orange;
        &.active {
          border-radius: 5px;
          background: #cd8757;
          text-align: center;
          -webkit-transition: all 0.1s;
          -moz-transition: all 0.1s;
          transition: all 0.1s;
          -webkit-box-shadow: 0 9px 0 #b56642;
          -moz-box-shadow: 0 9px 0 #b56642;
          box-shadow: 0 3px 0 #b56642;
        }
        &:hover {
          border-radius: 5px;
          background: #cd8757;
          text-align: center;
          -webkit-transition: all 0.1s;
          -moz-transition: all 0.1s;
          transition: all 0.1s;
          -webkit-box-shadow: 0 9px 0 #b56642;
          -moz-box-shadow: 0 9px 0 #b56642;
          box-shadow: 0 3px 0 #b56642;
        }
      }
    }
  }
}
.news {
  .thumbnail {
    padding: 0;
    border: 0;
    box-shadow: 0 5px 0px rgba(0,0,0,.075);
    img:nth-child(2) {
      margin-top: -25px;
      background-color: $graygreen;
      padding: 10px;
      border-radius: 50%;
      border: 3px solid #ffffff;
    }
    .caption {
      h3 {
        font-family: "Open sans";
        font-weight: 700;
        font-size: 1.5em;
        color: $orange;
        margin-top: 5px;
      }
      p {
        font-family: "Open sans";
        font-weight: 400;
        font-size: 1em;
        color: $lightgray;
      }
      a {
        font-family: "Open sans";
        font-weight: 400;
        font-size: 1em;
        color: $lightgray;
      }
    }
    .footerthumb {
      p {
        font-family: "Open sans";
        font-weight: 400;
        font-size: 0.95em;
      }
    }
  }
}
footer {
  .arrowfooter {
    height: 99px;
    background: url("../img/arrowfooter.png") no-repeat center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.contentfooter {
  background-color: $orange;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
  .btn{
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    background: #77a1a0;
    text-align: center;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0 4px 0 #576f6f;
    -moz-box-shadow: 0 4px 0 #576f6f;
    box-shadow: 0 4px 0 #576f6f;
  }
  h3 {
    font-family: "Open sans";
    font-weight: 700;
    font-size: 1.5em;
  }

  .about {
    p {
      font-family: "Open sans";
      font-weight: 400;
      font-size: 1.05em;
    }
    p:nth-child(3) {
      font-family: "PT Sans";
      opacity: 0.7;
    }
  }
  .products {
    ul {
      font-family: "Open sans";
      font-weight: 400;
      font-size: 1.05em;
      opacity: 0.7;
    }
    input {
      border: 2px solid #fa6734;
    }
  }
}
.copyright {
  background-color: $darkorange;
  p {
    font-family: "Open sans";
    font-weight: 700;
    font-size: 1.05em;
    color: #ffffff;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .social {
    margin-top: 7px;
  }
}
/*
    ---Salome_css
*/
/* ------------------------------------------------ */
/*---------------Section Content */
/* ------------------------------------------------ */
/*#content {}
    .container text-center {}
    .text-center {}*/
/*----services----*/
.services {
  padding: 38px 120px 0;
}
.services h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fa714d;
  line-height: 50px;
}
.services p {
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #687170;
}
.services .btn {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  width: 200px;
  height: 50px;
  display: block;
  text-decoration: none;
  margin: 30px auto;
  border-radius: 5px;
  background: #77a1a0;
  text-align: center;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0 4px 0 #576f6f;
  -moz-box-shadow: 0 4px 0 #576f6f;
  box-shadow: 0 4px 0 #576f6f;
  &:focus:active{
    outline: none;
    border: 0;
    top:2px;
    -webkit-box-shadow: 0 1px 0 #576f6f;
    -moz-box-shadow: 0 1px 0 #576f6f;
    box-shadow: 0 1px 0 #576f6f;
  }

}
/*----support----*/
.support {
  background-color: #f5f5f5;
  border-radius: 10px;
  /*margin: 55px 110px 0px 110px;
  padding: 15px 100px 4px 12px;*/
}
.support h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #7f8c8c;
}
.support p {
  color: #687170;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #687170;
}
.btn-success {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  width: 141px;
  height: 37px;
  margin: 22px 0 0 -15px;
  display: block;
  text-decoration: none;
  background: #cd8757;
  text-align: center;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0 3px 0 #b56642;
  -moz-box-shadow: 0 3px 0 #b56642;
  box-shadow: 0 3px 0 #b56642;
  &:hover{
    outline: none;
    background: #cd8757;
    text-align: center;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0 3px 0 #b56642;
    -moz-box-shadow: 0 3px 0 #b56642;
    box-shadow: 0 3px 0 #b56642;
  }
  &:focus{
    outline: none;
    background: #cd8757;
    text-align: center;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0 3px 0 #b56642;
    -moz-box-shadow: 0 3px 0 #b56642;
    box-shadow: 0 3px 0 #b56642;
  }
  &:active{
    outline: none;
    background: #cd8757;
    text-align: center;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0 3px 0 #b56642;
    -moz-box-shadow: 0 3px 0 #b56642;
    box-shadow: 0 3px 0 #b56642;
  }
  &:active:focus{
    outline: none;
    border: 0;
    background: #cd8757;
    text-align: center;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0 1px 0 #b56642;
    -moz-box-shadow: 0 1px 0 #b56642;
    box-shadow: 0 1px 0 #b56642;
    top:1px;
  }
}
.support .btn {
  border: none;
}
/*----performance----*/
/*.performance {
  margin: 50px 110px 0px 110px;
}*/
.performance h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fa714d;
  line-height: 50px;
}
.performance li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #687170;
  line-height: 28px;
}
.list-unstyled {
  padding-right: 60px;
}
.fa-check {
  color: #77a1a0;
  font-size: 12px;
}
/*----testimonial----*/
.testimonial {
  background-color: #f28858;
  padding: 0;
  /*margin-top: -20px;
  padding: 0px 110px 100px 110px;*/
}
.testimonial h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #c8d8d7;
  background-color: #ffffff;
  border-radius: 0 0 40px 40px;
  padding: 50px 50px 30px;
  margin: 0 0 20px;
}
.testimonial h2:nth-of-type(2) {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #c8d8d7;
  background-color: #ffffff;
  border-radius: 40px 40px 0 0;
  padding: 50px 50px 30px;
  margin: 20px 0 0;
  clear: both;
}
.testimonial h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 30px;
}
.testimonial p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #f3ddd4;
  line-height: 26px;
}
//Romain fix
.performance {
  .progress {
    height: 25px;
    border-radius: 0;
    .progress-bar {
      background-image: linear-gradient(to bottom,$lightgraygreen 0,$lightgraygreen 100%);
    }
  }
}
